{% extends 'base.html' %}

{% block body %}
    <div style="margin: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.5); margin-left: auto;
    margin-right: auto; width: 50%; display: flex;
    flex-direction: column;">
        {% if users|length > 0 %}
            <p style="margin: 10px; text-align: center;">Користувачі</p>
            {% for user in users %}
                <div class="btn btn-primary">{{ user.name + ' ' + user.surname }}</div>
            {% endfor %}
        {% else %}
            <p style="margin: 10px; text-align: center;">Ще немає знайомих користувачів</p>
        {% endif %}
        <button class="btn btn-primary" onclick="history.back()" >Back</button>
    </div>
{% endblock %}
